button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
.btn {
    height: 50px;
    display: grid;
    grid-template-columns: 4rem 5rem;
    place-items: center;
    background: var(--black);
    color: var(--white);
    border-radius: 16px;
}
.btn small {
    justify-self: start;
}
.btn svg {
    height: 30px;
}
.btn path {
    stroke: var(--white);
}