.wrapper__carousel {
    margin: 8px 0;
    padding: 16px 0;
    display: grid;
    background: var(--black);
    border-radius: 16px 0 0 16px;
}
.carousel {
    user-select: none;
    cursor: pointer;
    width: 90%;
    overflow-x: scroll;
    justify-self: end;
}
.carousel--grab {
    cursor: grabbing;
}
.carousel::-webkit-scrollbar
{
    height: 1px;
}
[is=component-carousel-card] {
    display: grid;
    grid-auto-columns: calc(300px - 8px);
    grid-auto-rows: calc(300px - 8px);
    grid-auto-flow: column;
    gap: 16px;
}